@import "config";
@import "topnav";

* {
  margin: 0;
  padding: 0;
}

html {
    font-family: 'PT Sans', sans-serif;
    background-color: white;
    color: black;
}

.site-title {
    color: $color-primary-0;
    text-decoration: none;
}

code {
    font-family: $code-font, monospace;
    background-color: $color-primary-1
}

.navigation-item {
    color: black;
    border-bottom: 2px solid $color-complement-3;
    text-decoration: none;
}

.banner{
    background-image: url("/assets/banner.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 240px;
    overflow: hidden;
    h1 {
            background:rgba(0,0,0,0.3);
            position: relative;
            visibility: visible;
            display: inline-block;
            color: white;
            margin: 20px 20px 10px 10px;
            padding: 6px 6px 6px 6px;
          }
    //width: 960px;
}

.text-content {
    text-align: center;
    color: white;
    visibility: hidden;
    position: absolute;
    background:rgba(0,0,0,0.3);
    max-width: inherit;
    h1 {
        background:rgba(0,0,0,0.3);
        position: relative;
        visibility: visible;
        display: inline-block;
        color: white;
        margin: 20px 20px 10px 10px;
        padding: 6px 6px 6px 6px;
		border: 1px solid black;
      }
}

.text-block {
    position: absolute;
    top: 50%;
    left: 20px;
    color: white;
	direction: ltr;
	h1 {
        background: rgba(0,0,0,0.1);
        position: relative;
        display: inline-block;
        color: white;
        padding: 10px 10px 10px 10px;
      }
}

.container {
	width: 960px;
	height: 240px; 
	max-width: 100%;
    left: 50%;
	overflow: hidden;
	position: absolute;
    transform: translateX(-50%);
	direction: rtl;
}
