/* fonts */
$body-font: "PT Sans";
$banner-font: "Yeseva One";
$banner-font-size: 30px;
$base-font-size: 14px;
$code-font: "Andale Mono";

/* sizes */
$content-width: 650px;
$banner-width: 960px;
$banner-height: 240px;

/* color scheme */
$color-primary-0: #363377;	// Main Primary color */
$color-primary-1: #827FB2;
$color-primary-2: #585594;
$color-primary-3: #1D1959;
$color-primary-4: #0B083B;

$color-complement-0: #AA8F39;	// Main Complement color */
$color-complement-1: #FFEBAA;
$color-complement-2: #D4BC6A;
$color-complement-3: #806715;
$color-complement-4: #554100;