/* fonts */
$body-font: "PT Sans";
$banner-font: "Yeseva One";
$banner-font-size: 30px;
$base-font-size: 14px;
$code-font: "Andale Mono";

/* sizes */
$content-width: 650px;
$banner-width: 960px;
$banner-height: 240px;

/* color scheme */
$lightest-blue: #99C0E0;
$light-blue: #83AED9;
$light-steel-blue: #495F77;
$dark-slate-grey: #D4DCE5;
$darkest-slate-grey: #1E242F;
$vivid-red: #C53850;