@import "config";

.topnav {
  overflow: hidden;
  background-color: $darkest-slate-grey;
  max-width: $banner-width;
  margin: auto;
  text-align: center;
  /* border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black; */
}

.topnav a {
  display: inline-block;
  color: $light-blue;
  padding: 12px 12px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: $vivid-red;
  color: $dark-slate-grey;
}

.active {
  background-color: $darkest-slate-grey;
}

.topnav .icon {
  display: none;
}

/* Nav-bar fits across mobile screen for now */

/* @media screen and (max-width: $mobile-width-trigger) {
  //.topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
	float: right;
    display: block;
  }
}

@media screen and (max-width: $mobile-width-trigger) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} */