---
layout: default
---

<ul class="list-reset" style="padding: 16px 0px 16px 0px;">
    {% for post in site.posts %}
    <li>
        <div class="clearfix" style="padding: 4px 10px 4px 10px;">
            <div class="col col-4 left-align">
                <span>{{ post.date | date: '%b %d, %Y ' }}</span>
            </div>
            <div class="col col-8 left-align">
                <a href="{{ post.url | relative_url }}">
                    {{ post.title }}
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
