---
layout: default
---

<div class="clearfix" style="padding: 10px 10px 10px 10px;">
    <div class="col col-12">
        <h1>{{ page.title }}</h1>
    </div>
    <div class="col col-12">
        <p class="right-align">{{ page.date | date: '%B %-d, %Y' }}</p>
    </div>
</div>

<div class="clearfix" style="padding: 10px 10px 10px 10px;">
    <div class="col col-12">
        {{ content }}
    </div>
</div>

<div id="disqus_thread"></div>
<script src="/js/disqus.js">
</script>
<noscript>
    Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
